* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    content: '';
    clear: both;
}


/*兼容*/

.clearfix {
    *zoom: 1;
}

.el-breadcrumb {
    margin-bottom: 30px;
}